body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

#packages {
    padding: 40px 20px;
    background-color: #ffffff;
}

#packages h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.packages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.package-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    overflow: hidden;
    padding: 15px;
}

.package-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.package-card h3 {
    font-size: 1.8em;
    margin: 10px 0;
    color: #333;
}

.package-card p {
    font-size: 1em;
    color: #555;
}
.price{
    color: #007bff;
    font-size: large;
}

.package-card ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.package-card ul li {
    padding: 5px 0;
    font-size: 1em;
    color: #333;
}

.package-card button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.package-card button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .packages-container {
        flex-direction: column;
        align-items: center;
    }
}
